*

!.gitignore
!COPYING
!COPYING.LESSER
!LICENSE
!README.md
!VERSION

!ruff.toml
!.clangd
!.clang-format
!fmt_cpp.py

!xmake.lua
!clean.py
!init.py

!src
!src/**

!test
!test/**

!benchmark
!benchmark/**

!doc
!doc/**
